.search-form {
  background-color: lightcoral;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  &__input {
    height: 50%;
  }
  &__magnifying-glass {
    font-size: 35px;
    color: white;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.photo-card {
  width: 100px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}

img {
  width: 100%;
}

.load-more {
  border: none;
  padding: 15px 30px;
  background-color: lightcoral;
  color: white;
}

.load-btn {
  justify-content: center;
  display: none;
}
